
.ServiceParent{
     
    margin: 9ch;
    padding: 2ch;
    border-radius: 8px;
    font-family: 'Fuzzy Bubbles', cursive;
    background:rgba(241, 240, 240, 0.918);

     
}
.imageBox{
    border:none;
    margin: 2ch;
     padding: 2ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5ch;
    background:rgba(241, 240, 240, 0.918);
 }

.des{
    text-align: left;
    margin: 4ch;
    margin-left: 5ch;
    margin-right: 5ch;
    margin-top: 5ch;
     padding-bottom: 1ch; 
}
.des span{
    color:crimson;
    font-weight: bolder;
    font-size:150%
}
 .addBTN{
     width: 20%;
     padding: 1ch;
     font-size:100%;
     margin:1ch;
     
 }
 label{
     font-family: exo;
     color:rgba(17, 1, 1, 0.952);
     font-weight: bolder;
 }
 .INPUT{
     width: 80%;
     color:brown; 
 }
 .BOX{
     margin-left: 11ch;
       
 }
.BTN{
    margin: 1ch;
margin-left: 9ch;
 
}
 .container{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr
 }
 .lineTitle{
     font-family: 'Fuzzy Bubbles', curs;
     text-align: center;
     color:rgb(190, 68, 68);
     font-weight: bolder;
     font-size: 300%;
 }
 .profile{
    border-radius: 50%;
    margin: 1ch;
 }
  /* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
    .imageBox{
        grid-template-columns: 1fr;
    }
    .BOX{
        margin-left: 2ch;
          
    }
}


/* Phone */
@media screen and ( max-width: 767px ) {
    .ServiceParent{
        margin: 1ch;
    }
    .imageBox{
        grid-template-columns: 1fr;
    }
    .BOX{
        margin-left: 3ch;
         
    }
}