
.ServiceParent{

    display: grid;
    grid-template-columns: 1fr  1fr;
}

.serviceForm{
     border: 1px solid black;
     margin: 3ch;
    padding: 1ch;
    border-radius: 8px;
    background: beige;

}
.serviceForm input{
    padding: 1ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;
    color:rgb(185, 26, 26);
    font-weight: bold;
    margin: 1ch;
    border-radius: 8px;
    width: 55%;
}
.serviceForm button{
    /* padding: 1ch;
    margin: 1ch;
    border-radius: 8px;
    background:rgb(241, 241, 142);
    color: rgb(110, 7, 7);
    font-weight: bolder;
    font-weight: bolder;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 120%;
    cursor: pointer; */
}
/* .imgBox{
    border: 1px solid black;
    margin: 3ch;
    padding: 2ch;
    border-radius: 8px;
    background: beige;

} */
.imgBox img{
    border-radius: 8px;
}

.mb-3{
    margin: 2ch;
}
Form{
    border: 1px solid black;
    padding: 2ch;
    border-radius: 8px;
    background:rgba(222, 184, 135, 0.507);
    font-family: 'Fuzzy Bubbles', cursive;
}
 
Button{
      
     width:20%;
 }