
.ServiceParent{
    /* width: 50%; */
    margin: 4ch;
    padding: 3ch;
    border-radius: 8px;
    background:rgba(241, 224, 224, 0.445); 
    font-family: 'Fuzzy Bubbles', cursive;
     
}
.imageBox{
    margin: 2ch;
    border: solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.des{
    text-align: left;
    margin: 4ch;
    margin-left: 5ch;
    margin-right: 5ch;
    margin-top: 5ch;
     margin-bottom: 5ch;
     border: solid black;
}
.des span{
    color:crimson;
    font-weight: bolder;
    font-size:150%
}
 .addBTN{
     width: 35%;
     padding: 1ch;
     font-size:100%;
     margin:1ch;
     margin-left:8ch;
 }
 label{
     font-family: exo;
     color:rgba(17, 1, 1, 0.952);
     font-weight: bolder;
 }
 .INPUT{
     width: 80%;
     color:brown;
     
 }
 .BOX{
     margin-left: 8ch;
 }
.BTN{
    margin: 1ch;
margin-left: 9ch;
}
 
 .container{
     display:grid;
     grid-template-columns: 1fr 1fr 1fr
 }
 .lineTitle{
     font-family: 'Fuzzy Bubbles', curs;
     text-align: center;
     color:rgb(190, 68, 68);
     font-weight: bolder;
     font-size: 300%;
 }
  