
 
.signupForm{

    position: absolute;
    margin: 5ch;
    padding: 5ch;
    top: 15%;
     width: 50%;
      
    border-radius: 20px;
    background-color: rgba(222, 135, 135, 0.281);
}
.signupForm input{ 
     
    padding: 1.2ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;
    color:rgb(185, 26, 26);
    font-weight: bold;
    margin: 2ch;
    border-radius: 8px;
    width: 90%;
 }
 .signupForm label{
    font-family: 'Fuzzy Bubbles', cursive;
    color:rgb(207, 97, 97);
   font-weight: bold;
   margin-left: 2ch;
 }


 .signupForm h1{
    font-weight: bolder;
    font-size: 300%;
    color:rgb(194, 24, 24); 
    font-family: "Exo";
    text-align: center;
    padding-bottom: 1ch;
}
 .signupForm Button{
    margin-left: 22ch;
 }
.signupForm p{
    color:black;
    font-weight: bolder;
    font-size: 130%;
    font-family: 'Fuzzy Bubbles', cursive;
}