

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
 
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
 /* Background data (Original source: https://subtlepatterns.com/grid-me/)  */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  margin-top: 1rem;
  /* color: #999; */
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
  /* background:rgb(231, 137, 137); */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}
body::before {
  /* content: "INFINITY"; */
  /* font-size: 8rem;
  font-weight: 100;
  font-style: normal; */
}
/*  */

ul{
    width: 98%;
    list-style-type: none;
    overflow: hidden;
}

li{
    float:left;
}

li a{
     color: rgb(136, 20, 20);
     font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    font-size:30px;
    margin: 2ch;
    /* margin-left: 13ch; */
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    
}

li a:hover{ 
    color: rgb(233, 131, 131);
    font-weight: bolder;
}
h1{
    font-size:250%;
}


.contact a{
    color: red;
    font-weight: bolder;
    margin: 2ch;
    font-size: 150%;
}
.homebtn button{
    margin: 2ch;
    margin-top: 7ch;
    
    padding: 2ch;
    border-radius: 16px;
    font-family: 'Fuzzy Bubbles', cursive;
    cursor: pointer;
    background:rgb(185, 26, 26);
    color:beige;
    font-size: 2ch;
}
.loginForm{ 
    border: 1px solid black;
    margin: 7ch;
    margin-left: 40ch;
    margin-right: 40ch;
    padding: 1ch;
    border-radius: 16px;
    background:rgba(228, 60, 60, 0.363);
}

.loginForm input{

    padding: 1.2ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;
    color:rgb(185, 26, 26);
    font-weight: bold;
    margin: 2ch;
    border-radius: 8px;
    width: 80%;
}
.loginForm h1{ 
    font-weight: bolder;
    color:rgb(109, 20, 20);
    
}

.LOGIN{
    padding: 2ch;
    border-radius: 8px;
    background:rgb(199, 55, 55);
    color: rgb(238, 234, 229);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;

}
Button{
  padding: 1ch;
}