
@import url(https://fonts.googleapis.com/css?family=Exo:100);
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
  

 
.nav a{
     color: rgb(207, 7, 7);
     /* font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif; */
     font-size:16px;
    font-family: "Exo";
     margin: 2ch;
    display: block;
    text-align: center;
    text-decoration: none;
  font-weight: bolder;
}

.nav a:hover{ 
    color: rgb(233, 131, 131);
    font-weight: bolder;
     
    text-decoration: underline;
    text-decoration-color:rgb(109, 20, 20) ;
}
.loading{
  margin-left: 44%;
  margin-top: 11ch;
}
h1{
    font-size:250%;
}

h2{
  color:brown;
  font-weight: bolder;
  font-size: 300%;
}
.contact a{
    color: red;
    font-weight: bolder;
    margin: 2ch;
    font-size: 150%;
}
.middle-header{
/* border: 1px solid black; */
  margin: 3ch;
  border-radius: 100px;
  background: rgba(221, 168, 168, 0.685);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top:6ch ;
   /* margin-left:1ch; */
   /* margin-right: 5ch; */  
}
.one{
  margin: 3ch;
  /* border: 1px solid black;  */
}
.one img{
   /* border: 1px solid black;  */
  margin: 2ch;
/* width: 45%; */
/* height: 30%; */
  margin-left: 5ch;
  border-radius: 20%;
}
.one h6{
  font-family: exo;
  color: rgb(204, 5, 5);
  font-weight: bolder;
  text-align: center;
  /* margin-top:2ch; */
}
.one p{
  margin-top: 2ch;
  bottom: 2;
  font-family: 'Fuzzy Bubbles', cursive;
  text-align: center;
  color: rgb(20, 1, 1);
}
  .homeBTN{
    width: 100%;
    text-align: center;
    margin-top: 2ch;
    margin-left:2ch;
    /* border: 1px solid black; */
  }
 .homeBTN Button{
    
    width: 40%;
    margin: 2ch;
    margin-left: 1ch;
    height: 5ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-weight: bolder;
    font-size: 35%;
 }
 
.subject{
  color:rgb(194, 65, 65);
  font-size: 300%;
  
  margin: 1ch;
}

.img-box{
   width:56%;
  height:40%;
  position:absolute;
  top:18ch;
  bottom: 1.5;
  right:100px;
}
.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom:0;
  transform: translateX(-60%);
  transition: bottom 1s, left 2s;
 }
.main-img{
   margin-top: 21ch;
  margin-left: 33ch;
  width:60%;

}
.back-img{
  margin-left:90px;
  width: 60%;
}
.img-box:hover .back-img{
  bottom:40px;
}
.img-box:hover .main-img{
  left:30px;
}
 
.subject h1{   
    margin-top: 1ch;
    margin-left: 1ch;
  font-weight: bolder;
  font-family:  "Exo";
   text-shadow: 9px 5px 0px rgba(141,103,103,0.48);
   font-size:200%;
  
}
.subject span{
  color: rgb(235, 23, 23);
  font-size: 100%;
}
 
.parent {
  background:rgb(243, 237, 229);
  display: flex;
  flex-wrap: wrap;
}
.loginForm{ 
  position: absolute;
 
  margin: 5ch;
  padding: 5ch;
  top: 20%;
   width: 35%;
  
  border-radius: 20px;
  background-color: rgba(222, 135, 135, 0.281);

    
}

.loginForm .Input{
    padding: 1.2ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;
    color:rgb(185, 26, 26);
    font-weight: bold;
    margin: 2ch;
    border-radius: 8px;
    width: 90%;
}
.loginForm label{
  font-family: 'Fuzzy Bubbles', cursive;
   color:rgb(207, 97, 97);
  font-weight: bold;
  margin-left: 2ch;
}
.loginForm h1{ 
    font-weight: bolder;
    font-size: 300%;
    color:rgb(194, 24, 24); 
    font-family: "Exo";
    text-align: center;
    padding-bottom: 1ch;
    
}
.loginForm Button{
  margin-left: 12ch;
  width: 25%;
  font-family: 'Fuzzy Bubbles', cursive;
}

.LOGIN{
    padding: 2ch;
    border-radius: 8px;
    background:rgb(199, 55, 55);
    color: rgb(238, 234, 229);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;

}
Button{
  padding: 1ch;
}
.logo-main >img{
   
  border-radius: 28px ;
  height: 200%;
  margin-left: 60ch;
  
}
 .About{
   background:rgb(245, 220, 188);
   margin: 8ch;
   padding: 2ch;
   border-radius: 8px;
 }
 .About h3{
   text-align: left;
   font-family: 'Fuzzy Bubbles', cursive;
   font-size:200%;
   padding: 2ch;
   color:brown;
 }
.About h1{
  font-family: 'Fuzzy Bubbles', cursive;
  padding: 1ch;
}

.social-media{
  /* margin: 1ch; */
}
.social-media a{
  margin: 2ch;
  filter: grayscale()
}
.social-media a:hover{
  filter:none;
}




/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {
   
  .parent{
    /* width: 94%; */
    /* border:solid black; */
  }
  .subject h1{   
     font-size:100%;  
      margin-left: 2ch;
     /* border: solid black; */
 }
 .subject span{
   color: rgb(235, 23, 23);
   font-size: 100%;}

   .loginForm{
   
  width: 55%;
  top:45%
   }
  
.homeBTN Button{
   
   width: 20ch;
   margin: 1ch;
   margin-left: 1ch;
 }
 .homeBTN{
  margin-left: 1ch;
  width: 100%;
 /* border:solid black; */
 }
 .middle-header{
     
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:6ch ; 
  }
 .img-box{
  /* border: solid black; */
  width:56%;
 height:30%;
 position:absolute;
 top:20ch;
 bottom: 1.5;
 right:100px;
}
.img-box img{
 height: 100%;
 position: absolute;
 left: 50%;
 bottom:0;
 transform: translateX(-50%);
 transition: bottom 1s, left 2s;
}
.main-img{
 margin-top: 21ch;
 margin-left: 11ch;
 width:80%;

}
.back-img{
 margin-left:90px;
 width: 90%;
}
.img-box:hover .back-img{
 bottom:40px;
}
.img-box:hover .main-img{
 left:30px;
}


}

/* Phone */
@media screen and ( max-width: 767px ) {
  
  .parent{
    /* border: solid black; */
    /* display:grid;
    grid-template-columns: 1fr; */
  }
  .subject{
    /* border: solid black; */
    margin-left: 5ch;
    
  }
  .middle-header{
   
   display:grid;
   grid-template-columns: 1fr;
   margin-top:6ch ; 
 }

 .one img{
   margin-left :9ch;
 }
  .subject h1{   
    font-size:100%;  
}
.subject span{
   font-size:100%;
}
 
.homeBTN >Button{
    margin: 1ch;
  width: 18ch;
}
.homeBTN{
  margin-left: 0;
} 
 .main-img {
    
   width: 400px;
   /* margin-left: 6ch;
   margin-top: 2ch; */
 
 }
  
 .loginForm{
   
  width: 75%;
  top: 55%;
   }
   .loginForm .Input{
     width: 90%;
     margin-right: 4ch;
   }
   .loginForm Button{
     margin-left: 8ch;
     width: 30%;
   }

   .img-box{
    /* border: solid black; */
   width:36%;
   height:20%;
   position:absolute;
   top:20ch;
   bottom: 1.5;
   right:100px;
  }
  .img-box img{
   height: 100%;
   position: absolute;
   left: 50%;
   bottom:0;
   transform: translateX(-50%);
   transition: bottom 1s, left 2s;
  }
  .main-img{
   margin-top: 21ch;
   margin-left: 11ch;
   width:80%;
  
  }
  .back-img{
   margin-left:90px;
   width: 90%;
  }
  .img-box:hover .back-img{
   bottom:40px;
  }
  .img-box:hover .main-img{
   left:30px;
  }
  
}