@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

 
.Parent{
     margin: 3ch;
     padding: 5ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 6ch;
  
}
.text{
    
  margin-right: 1ch;
    font-family: 'Fuzzy Bubbles', cursive;
    color:rgb(114, 9, 9);
    font-weight: bolder;
    text-align: center;
    margin-top: 1ch;
}
.texterea{
    /* border: solid black; */
    width: 60%;
    padding: 2ch;
    font-family: cursive;
    color:rgb(129, 98, 98);


}
 .Clickbtn{
     font-family: 'Fuzzy Bubbles', cursive;
     margin-left: 7ch;
 }
.child-1, .child-2{
   
 background-color: rgba(226, 195, 185, 0.76);
 margin-left: 12ch;  
}
 .back{
     margin: 1ch;
     margin-left: 12ch;
     border:block;
      
 }
 
 .NewForm{

 border:solid rgb(109, 89, 63);
 margin: 2ch;
 margin-top: 9ch;

border-radius: 8px;
background:rgba(222, 184, 135, 0.575);
 }
 .NewForm input{ 
    padding: 1.2ch;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 100%;
    color:rgb(185, 26, 26);
    font-weight: bold;
    margin: 2ch;
    border-radius: 8px;
    width: 20%;
 }
 .NewForm h1{
     padding:1ch;
    font-weight: bolder;
    color:rgb(109, 20, 20);
 }
  
  
 .card span{
    font-family: 'Fuzzy Bubbles', cursive;
    color: blue;
 }

 /* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {


    .Parent{
        margin: 2ch;
        padding: 2ch;
         grid-template-columns: 1fr;
    }
    .child-1{
        margin: 4ch;
        margin-left: 22ch;
    }
    .child-2{
        margin: 3ch;
        margin-left: 22ch;
         
    }
}



/* Phone */
@media screen and ( max-width: 767px ) {
    .Parent{
        margin: 2ch;
        padding: 2ch;
         grid-template-columns: 1fr;
    }
    .child-1{
        margin: 4ch;
        margin-left: 15ch;
    }
    .child-2{
        margin: 3ch;
        margin-left: 15ch;
         
    }

}