.BigCard{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    padding:3ch;
    margin: 3ch;
    margin-left: 10ch;
    margin-right: 10ch;
    border:none;
     
     
}
.smallCard{
    /* padding-left: 2ch;
    padding-right: 2ch; */
     border-radius:10px;
    margin: 3ch;
}
.Header{
  
    font-family: "Exo";
    color:black;
    font-weight:bolder;
    font-size: 130%;
}
.Cardbtn{
    margin-left: 13ch;
    margin-top: 2ch;
}

/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {

    .BigCard{
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 3ch;
    }
}


/* Phone */
@media screen and ( max-width: 767px ) {
    .BigCard{
       
        display: grid;
        grid-template-columns: 1fr  ;
        margin: 3ch;
    }

}