.bigBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3ch;
}
.bigBox >a{
    color:antiquewhite;
}
.box{
    margin: 2ch;
    padding: 2ch;
    padding-top: 3ch;
    border-radius: 100px;
    border:none;
    /*  */
    display: flex;
	flex-direction: column;
	align-items: center;
    border: solid black;
}

.box img{
     
    filter: grayscale();
	width: 300px;
	height: 250px;
	border-radius: 50%;
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}
.box:hover   {
    cursor: pointer;    
}
.box:hover img  {
    filter: none;   
}

.title {
	font-family: "Dancing Script", cursive;
	font-size: 120%;
    font-weight: bolder;
    
	color: rgb(230, 82, 82);
	position: relative;
}

.title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background: rgb(253, 64, 64);
	left: 50%;
	bottom: 6px;
	transition: all 0.4s ease-in-out;
}
 
.box:hover .title::after {
	width: 100%;
	left: 0;
}
h1{
    color: rgb(90, 14, 14);
    font-weight: bolder;
    
}
.link a{
    color: rgb(18, 42, 175);
}


/* Tablet */
@media screen and ( min-width: 768px ) and ( max-width: 1023px ) {

    .bigBox{
        border: solid black;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 3ch;
    }
     
}


/* Phone */
@media screen and ( max-width: 767px ) {
    .title::after {

        bottom:30ch ;
    }

}