 
.header{
     
    background-repeat: no-repeat;
    margin-left: 3ch;
    margin-right: 3ch;
    opacity: 0.7;
  
}

.footer{
    margin-top: 3ch;
    padding: 3ch;
    background:rgb(49, 47, 47);
}
.footer h2{
    color:wheat;
}